<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts" class="row row-cols-2">
  <% @posts.each do |post| %>
    <div class="col">
      <%= render post %>
      <p>
        <%= link_to "Show this post", post %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New post", new_post_path, class: 'btn btn-primary' %>
