<div class="row mb-3">
  <%= link_to "New post", new_post_path, class: 'btn btn-primary' %>
</div>

<div id="posts" class="row row-cols-lg-auto g-2">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
  <hr />
</div>
