// FADE IN
.fadein {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

// FADE OUT
.fadeout {
  animation: fadeOut 1s;
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  -ms-animation: fadeOut 1s;
}
@keyframes fadeOut {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeOut {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeOut {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeOut {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeOut {
  0% {opacity:0;}
  100% {opacity:1;}
}
